@import "bootstrap-sprockets"; 
@import "bootstrap";

/* universal */

body {
	padding-top: 60px;
	background-color: #bd8f63;
}

section {
	overflow: auto;
}


textarea {
	resize: vertical;
}

.center { 
	text-align: center;
	background-color: #F1E7CD

}

.center h1 {
	margin-bottom: 10px;
	color: #5f3104;
}

.center h3 {
	color: #5f3104;
	font-style: italic;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em; 
	letter-spacing: -2px; 
	margin-bottom: 30px; 
	text-align: center; 
}

h3 {
	letter-spacing: -1px;
	margin-bottom: 30px; 
	text-align: center;
	font-weight: normal;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

header ul li {
	margin-right: 25px;
}

/* footer */ 

footer {
	margin-top: 45px; 
	padding-top: 5px; 
	border-top: 1px solid black; 
	color: black;
}

footer small {
		float: left; 
}

/* new */

.line-height {
	line-height: 1px;
}

/* index */

.books {
	list-style: none; 
	margin: 0; 
	li { 
		overflow: auto; 
		padding: 10px 0; 
		border-bottom: 1px solid $gray-lighter;
	}
	a{
		color: black;
	}
	a:hover{
		text-decoration: none;
	}
}









